body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(229, 227, 231);
      min-height: 400px;
}

form{
    background-color: rgb(146, 103, 185);
    width: 300px;
    height: 400px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px;
    border-radius: 10px;
   
}

Form h1{
    color: rgb(19, 2, 36);;
    align-items: center;
    font-size: 30px;
    margin-bottom: 24px;
}
form div{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


form label{
    color: rgb(54, 4, 100);
    font-size: 20px;
}

form input{
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: transparent;
    outline: none;
    border-bottom: 1px solid white;
    border-radius: 0;
    color: white;

}